<!-- Шаблон для закладки с наборами данных -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Наборы данных</h1>
    <p class="lead">Cписок загруженных наборов данных</p>
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <label>Создание нового набора данных:</label>
    <p class="input-group кщц">
      <input type="text" class="form-control"  style="width:25%" placeholder="Название" ng-model="dataset.name">
      <input type="text" class="form-control"  style="width:25%" placeholder="Запрос" ng-model="dataset.query">
      <input type="text" class="form-control"  style="width:25%" placeholder="Язык" ng-model="dataset.lang">
      <select class="form-control" style="width:25%" ng-model="dataset.result_type">
        <option value="mixed">mixed</option> 
        <option value="recent">recent</option>
        <option value="popular">popular</option>
      </select>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="create()">Создать</button>
      </span>
    </p>
  </form>
  <table class="table table-condensed" style="margin-top: 100px;"> 
    <thead> 
      <tr class="text-center"> 
        <th>Название</th> 
        <th>Запрос</th> 
        <th>Язык</th> 
        <th>Тип</th>  
        <th>Записей</th>  
        <th>Первый</th>  
        <th>Последний</th>  
        <th>Действия</th> 
      </tr> 
    </thead> 
    <tbody> 
      <tr class="text-center" ng-repeat="set in datasets"> 
        <th>{{set.name}}</th> 
        <td>{{set.query}}</td> 
        <td>{{set.lang}}</td> 
        <td>{{set.result_type}}</td> 
        <td>{{set.count}}</td> 
        <td>{{set.first.date}}</td> 
        <td>{{set.last.date}}</td> 
        <td>
          <a class="btn btn-default btn-xs" ng-click="query(set._id, 'newer')">Загрузить новых</a>
          <a class="btn btn-default btn-xs" ng-click="query(set._id, 'older')">Загрузить старых</a>
          <a class="btn btn-danger btn-xs" ng-click="delete(set._id)">Удалить</a>
        </td> 
      </tr> 
    </tbody> 
  </table>
</div>