.list-group-item {
    min-height: 80px;
    img { border-radius: 50%; position: absolute; }
    .analyze-result { width: 60px; position: absolute; top: 75px; }
    .status-text { min-height: 80px; padding-left: 80px; margin-bottom:0px;}
}

.positive { background-color: rgba(139, 195, 74, 0.1); }
.negative { background-color: rgba(244, 67, 54, 0.1); }


.thing-form {
  margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}