<!-- Шаблон модального окна для просмотра твита-->
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Подробнее</h3>
</div>
<div class="modal-body" id="modal-body">
{{status}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()" style="float: left;">Закрыть</button>
</div>