<!-- Шаблон для просмотра набора данных -->
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>DSentTweet</h1>
    <p class="lead">Определение настроения в твиттере по выбраному запросу</p>
    <p class="text-center lead">
      Набор данных:
      <select class="form-control" style="width:25%; display: inline-block;" ng-model="datasetId" ng-change="loadSet(datasetId)">
        <option ng-repeat="set in datasets" value="{{set._id  }}">{{set.name}} ({{set.query}}) </option>
      </select>
    </p>
  </div>
</header>

<div class="container">
<div class="row" ng-if="datasetId">
  <div class="col-lg-12" style="padding-top: 25px;">
    <!-- Закладки -->
    <uib-tabset type="pills">
      <uib-tab heading="Списком">
        <div class="list-group" style="padding-top: 25px;">
          <a href="#" class="list-group-item" ng-click="details(status)"
            ng-class="{'positive': status.analyze.score > 0, 'negative': status.analyze.score < 0}"
            ng-repeat="status in twits">

            <img class="media-object thumbnail" ng-src="{{::status.twit.user.profile_image_url}}">
            <div class="analyze-result text-center">
              {{::status.analyze.score}}
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ng-if="status.analyze.score > 0"></span>
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ng-if="status.analyze.score < 0"></span>
              <span class="glyphicon glyphicon-hand" aria-hidden="true" ng-if="status.analyze.score == 0"></span>
            </div>

            <div class="status-text"> 
              <h4 class="list-group-item-heading">@{{::status.twit.user.screen_name}}</h4>
              <p class="list-group-item-text">{{::status.twit.text}}</p>
              <p class="list-group-item-text">{{::status.twit.created_at}}</p>
            </div>
          </a>
        </div>
      </uib-tab>
      <uib-tab heading="Графиком" ng-click="buildGraph();">
        <div class="list-group" style="padding-top: 25px;"> 
          <nvd3 options="options" data="data"></nvd3>
        </div>
      </uib-tab>
      <uib-tab heading="Облаком" ng-click="buildCloud();">
        <div class="list-group" style="padding-top: 25px;"> 
          <canvas id="canvas" class="canvas" width="1170" height="760"></canvas>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

