<!-- Шаблон для закладки о программе -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>О программе</h1>
    <p class="lead">Описание и справочная информация</p>
  </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-sm-12" style="padding-top: 20px;">
			DSentTweet — веб-приложение для сентимент-анализа публикаций в Twitter.<br/>
			<br/>
			Выполнил: Шик Д.С., 2017<br/>
			группа 15ПО15-01з, ИБМТ БГУ
		</div>
	</div>
</div>