
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>DSentTweet</h1>
    <p class="lead">Определение настроения в твиттере по выбраному запросу</p>
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <label>Введите запрос:</label>
    <p class="input-group кщц">
      <input type="text" class="form-control col-sm-4"  style="width:70%" placeholder="Тематический запрос в твиттер" ng-model="search.text">
      <input type="text" class="form-control col-sm-4" style="width:15%" placeholder="Искать начиная с даты" ng-model="search.since">
      <input type="text" class="form-control col-sm-4" style="width:15%"  placeholder="Количество запросов" ng-model="search.count">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="searchIt()">Загрузить</button>
      </span>
    </p>
  </form>
  
  <div class="row" ng-if="results.statuses.length">
    <div class="col-lg-12">

    </div>
    <div class="col-lg-12">
      <h1 class="page-header" ng-click="details(0)">Результаты {{results.statuses.length}}:</h1>


      <div class="list-group">
        <a href="#" class="list-group-item" ng-click="details($index)"
          ng-class="{'positive': status.status.analyze.score > 0, 'negative': status.status.analyze.score < 0}"
          ng-repeat="status in results.statuses">

          <img class="media-object thumbnail" ng-src="{{status.user.avatar}}">
          <div class="analyze-result text-center">
            {{status.status.analyze.score}}
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ng-if="status.status.analyze.score > 0"></span>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ng-if="status.status.analyze.score < 0"></span>
            <span class="glyphicon glyphicon-hand" aria-hidden="true" ng-if="status.status.analyze.score == 0"></span>
          </div>

          <div class="status-text"> 
            <h4 class="list-group-item-heading">@{{status.user.screen_name}}</h4>
            <p class="list-group-item-text">{{status.status.text}}</p>
            <p class="list-group-item-text">{{status.status.created_at}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>